.CG_Results td.sectionExpandColumn a.gradesExpand {
    margin: 0 0 0 5px;
    display: inline-block !important;
    text-decoration: none;
    width: 70px;
    height: 18px;
    color: black!important;
}

.CG_Results td.sectionExpandColumn a.sectionExpand {
    display: inline-block !important;
}

a.gradesExpand img.expandCollapseIcon {
  margin-right: 3px !important;
  margin-top: 1px !important;
}

#graphsTC {
  padding: 10px 20px;
}

div#graphs {
  display: flex;
  justify-content: space-between;
}

#graphs-note {
  margin-top: 20px;
}

.graphs {
  flex-basis: 48%;
  /*height: 500px;*/
  display: flex;
  flex-wrap: wrap;
}

.tabs a {
  font-size: 12px;
}

ul.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-end;
  width: 100%;
  min-height: 62px;
}

div.CGDetailTitleWrap {
  z-index: 1;
  margin-left: 0 !important;
}

div.CGDetailTitle {
  width: 967px !important;
}