.CG_Results td.sectionExpandColumn a.gradesExpand {
    margin: 0 0 0 5px;
    display: inline-block !important;
    text-decoration: none;
    width: 70px;
    height: 18px;
    color: black!important;
}

.CG_Results td.sectionExpandColumn a.sectionExpand {
    display: inline-block !important;
}

a.gradesExpand img.expandCollapseIcon {
  margin-right: 3px !important;
  margin-top: 1px !important;
}

.graphs {
  width: 46%;
  height: 500px;
}

#terms.graphs {
  float: left;
  margin-left: 2%;
}

#professors.graphs {
  float: right;
  margin-right: 2%;
}

.tabs a {
  font-size: 12px;
}

ul.tabs {
  height: 63px;
}

div.CGDetailTitleWrap {
  z-index: 1;
  margin-left: 0 !important;
}

div.CGDetailTitle {
  width: 967px !important;
}